@use "../variables";
@use "functions";

/*------------------------------------
---------------  BASE  ---------------
------------------------------------*/

footer {
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: variables.$white;
  border-top: functions.custom_border(solid, variables.$grey);
}

/*------------------------------------
---------------  THEME  --------------
------------------------------------*/

.theme__uoc {
  padding: functions.spacing(1);
  margin-top: functions.spacing(2);
  font-size: 0.9em;
}

.theme__author {
  padding: functions.spacing(1);
  font-size: 0.7em;
}
