@use "../variables";
@use "functions";

/*------------------------------------
---------------  BASE  ---------------
------------------------------------*/

header {
  width: 100%;
  margin: 0 auto;
  border-bottom: functions.custom_border(solid, variables.$grey);
  background-color: variables.$white;
  text-align: center;
  h2 {
    margin: 0;
    padding: functions.spacing(2) functions.spacing(0);
    border-bottom: functions.custom_border(dashed, variables.$grey);
    background-color: variables.$text-bg;
  }
  nav {
    justify-content: center;
    border-bottom: functions.custom_border(solid, variables.$grey);
    background-color: variables.$white;
    text-align: center;
    ul {
      gap: functions.spacing(6);
      padding: functions.spacing(0) functions.spacing(4);
      font-size: 0.9rem;
      list-style: none;
    }
    li {
      display: inline;
      padding: functions.spacing(0) functions.spacing(3);
      span {
        font-weight: 700;
      }
      a {
        color: var(--gris);
        text-decoration: none;
      }
    }
  }
}
